@import "../utils/variables";
@import "../utils/mixins";

.menuheader__back{
    display: block;
    position: absolute;
    left: 20px;

    i{
        color: $color-black;
        font-size: 20px;
    }
    
}

.menu-cover{
    width: 100%;
    height: 250px;
    object-fit:cover;
}

.menu {
    display:flex;
    flex-direction: column;
    background-color: $color-background;
    border-radius: 35px 35px 0 0;
    margin-top: -45px;
    position: relative;
    padding: 0px 15px 30px 15px;
}

.restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    &__name {
        font-family: $menu-title-font;
        font-size: 28px;
    }

    &__like {
        margin-right: 20px;
    }
}

.meals_list{
    display: flex;
    flex-direction: column;
}

.meal {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 16px;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        background-color: $color-white;
        border-radius: 15px;
        padding: 12px 10px;
        margin-bottom: 15px;
        overflow: hidden;
        @include box-shadow-lighter;
        animation: reveal 1s both;
    }

    &__sides {
        font-size: 14px;
        margin-top: 4px;
    }

    &__price {
        align-self: flex-end;
        font-size: 14px;
        font-weight: 500;
    }
}

.reveal-1 {
    animation-delay: 0.1s;
}

.reveal-2 {
    animation-delay: 0.3s;
}

.reveal-3 {
    animation-delay: 0.5s;
}

.reveal-4 {
    animation-delay: 0.7s;
}

.reveal-5 {
    animation-delay: 0.9s;
}

.reveal-6 {
    animation-delay: 1.1s;
}

.reveal-7 {
    animation-delay: 1.3s;
}

.reveal-7 {
    animation-delay: 1.5s;
}

.reveal-8 {
    animation-delay: 1.7s;
}

.reveal-9 {
    animation-delay: 1.9s;
}

.reveal-10 { 
    animation-delay: 2.1s;
}


@keyframes reveal {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}